:root {
  --bg: #1a1e2d;
  --green: #99ff99;
  --pink: #ff99ff;
  --blue: #99ffff;
  --orange: #ffcc99;
  --yellow: #ffff99;
  --terminal-green: #00ff00;
  --gray: #b4b4b4;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--bg);
  display: flex;
  place-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.container {
  width: 80vw;
  height: 80vh;

  svg {
    height: 500%;
    width: 100%;
    overflow: visible;
  }
}

#bongo-cat {
  fill: var(--bg);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4;

  .laptop-cover,
  .headphone .band {
    fill: none;
  }

  .paw,
  .head {
    stroke: var(--orange);
  }

  .laptop-keyboard {
    stroke-width: 2;
  }

  .terminal-code {
    stroke-width: 5;
    stroke: var(--terminal-green);
  }

  .laptop-base,
  .laptop-cover {
    stroke: var(--gray);
  }

  .music .note,
  .paw .pads {
    stroke: var(--pink);
  }

  .table line,
  .headphone .band,
  .headphone .speaker path:nth-child(3) {
    stroke: var(--green);
  }

  .terminal-frame,
  .laptop-keyboard,
  .headphone .speaker path:nth-child(2) {
    stroke: var(--blue);
  }

  .headphone .speaker path:first-child {
    stroke: var(--yellow);
  }
}

.music .note {
  &:nth-child(1) {
    animation: music 4s infinite;
  }
  &:nth-child(2) {
    animation: music 4s 1s infinite;
  }
  &:nth-child(3) {
    animation: music 4s 3s infinite;
  }
  &:nth-child(4) {
    animation: music 4s 2s infinite;
  }
}

.paw {
  &.paw-left {
    .down {
      animation: updown 0.5s infinite;
    }
    .up {
      animation: updown 0.5s 0.25s infinite;
      .pads {
        animation: updown 0.5s 0.25s infinite;
      }
    }
  }
  &.paw-rigth {
    .down {
      animation: updown 0.5s 0.25s infinite;
    }
    .up {
      animation: updown 0.5s infinite;
      .pads {
        animation: updown 0.5s infinite;
      }
    }
  }
}

.terminal-code line {
  &:nth-child(1) {
    animation: typing 0.5s linear infinite;
  }
  &:nth-child(2) {
    animation: typing 0.5s linear 0.1s infinite;
  }
  &:nth-child(3) {
    animation: typing 0.5s linear 0.2s infinite;
  }
  &:nth-child(4) {
    animation: typing 0.5s linear 0.3s infinite;
  }
  &:nth-child(5) {
    animation: typing 0.5s linear 0.4s infinite;
  }
  &:nth-child(6) {
    animation: typing 0.5s linear 0.5s infinite;
  }
  &:nth-child(7) {
    animation: typing 0.5s linear 0.6s infinite;
  }
  &:nth-child(8) {
    animation: typing 0.5s linear 0.7s infinite;
  }
  &:nth-child(9) {
    animation: typing 0.5s linear 0.8s infinite;
  }
  &:nth-child(10) {
    animation: typing 0.5s linear 0.9s infinite;
  }
  &:nth-child(11) {
    animation: typing 0.5s linear 1s infinite;
  }
  &:nth-child(12) {
    animation: typing 0.5s linear 1.1s infinite;
  }
  &:nth-child(13) {
    animation: typing 0.5s linear 1.2s infinite;
  }
  &:nth-child(14) {
    animation: typing 0.5s linear 1.3s infinite;
  }
  &:nth-child(15) {
    animation: typing 0.5s linear 1.4s infinite;
  }
  &:nth-child(16) {
    animation: typing 0.5s linear 1.5s infinite;
  }
  &:nth-child(17) {
    animation: typing 0.5s linear 1.6s infinite;
  }
  &:nth-child(18) {
    animation: typing 0.5s linear 1.7s infinite;
  }
  &:nth-child(19) {
    animation: typing 0.5s linear 1.8s infinite;
  }
  &:nth-child(20) {
    animation: typing 0.5s linear 1.9s infinite;
  }
  &:nth-child(21) {
    animation: typing 0.5s linear 2s infinite;
  }
  &:nth-child(22) {
    animation: typing 0.5s linear 2.1s infinite;
  }
  &:nth-child(23) {
    animation: typing 0.5s linear 2.2s infinite;
  }
  &:nth-child(24) {
    animation: typing 0.5s linear 2.3s infinite;
  }
  &:nth-child(25) {
    animation: typing 0.5s linear 2.4s infinite;
  }
  &:nth-child(26) {
    animation: typing 0.5s linear 2.5s infinite;
  }
}

@keyframes music {
  0% {
    transform: inherit;
  }
  100% {
    transform: translate(50px, -100px);
    opacity: 0;
  }
}

@keyframes updown {
  0% {
    all: inherit;
  }
  100% {
    stroke: none;
    fill: none;
  }
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
